.form {
  display: flex;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  width: 80%;
  margin-left: 5px;
  height: 40px;
  font-size: 1.2em;
  padding: 3px;
  width: 90%;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  border-radius: 10px;
  border: none;
  width: 10%;
}
